C:\Users\Administrador\Documents\00-Projetos\Projeto_Python\Banco de Dados
C:\Users\Administrador\Documents\00-Projetos\Projeto_Python\Aula Python
C:\Users\Administrador\Documents\00-Projetos\Projeto_Python\Origem