Projeto_Python\Aula Python
Projeto_Python\Aula Python\Priemiros Comandos
Projeto_Python\Aula Python\Priemiros Comandos\1.Comandos Basicos
Projeto_Python\Aula Python\Priemiros Comandos\2.Comandos intermediários
Projeto_Python\Aula Python\Priemiros Comandos\3.Outros comandos
Projeto_Python\Aula Python\Priemiros Comandos\4.Ndarrays
Projeto_Python\Aula Python\Priemiros Comandos\5.Pandas
Projeto_Python\Banco de Dados
Projeto_Python\Origem 